body{
    background-color: antiquewhite;
    margin: 0px;
}

header{
    padding: 10px 0px;
    text-align: center;
    background-color: aquamarine;
}

main{
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
}

aside{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.weatherTile{
    background-color: azure;
}