body{
    background-color: antiquewhite;
    margin: 0px;
}

header{
    padding: 10px 0px;
    text-align: center;
    background-color: aquamarine;
}

main{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px 20px;
}

aside{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.searchTextfield{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.searchTileContainer{
display: flex;
    flex-direction: column;
    gap: 10px;
}
.searchTile{
    text-align: center;
    border: 1px solid black;
}




section{
    flex: 1;
}

.topContent{
    padding-left: 20px;
    border: 1px solid black;
}
.topContentHeader{
    display: flex;
    flex-direction: row;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.weatherTile{
    background-color: azure;
    border-radius: 10px;
    padding: 10px 10px;
}